/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body, html {
    margin: none;
    padding: none;
}

body {
    width: 100vw;
    height: 100vh;
}*/

.box {
    border: 1px solid black;
}

.link-box:hover {
    border: 1px solid gold;
}   

#video-player {
    width: 100vw;
    height: 100vh;
} 

.hidden {
    display: none;
    visibility: hidden;
}

.film-box {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 280px;
    height: 200px;
    border: 1px solid black;
}

@media only screen and (max-width: 650px) {
    .film-box {
        width: 90vw;
    }
} 

.film-title-bar {
    background-color: black;
    color: white;
}

.film-title-bar .film-name {
    font-weight: bold;
}

.film-title-bar .tag {
    border: 1px solid lightgreen;
    margin-right: 5px;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
}

.film-title-bar .tag:hover {
    border: 1px solid orange;
    color: orange;
}

.film-title-bar a, .film-title-bar a:visited{
    color: lightgreen;
    text-decoration: none;
}

.film-title-bar a:hover {
    color: orange;
}