/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
    margin: none;
    padding: none;
}

body {
    background-color: black;
}

.box {
    border: 1px solid black;
}

.link-box:hover {
    border: 1px solid gold;
}   

#video-player {
    width: 100vw;
    height: 100vh;
} 

.hidden {
    display: none;
    visibility: hidden;
}

.film-box {
    margin: 5px;
    padding: 0px;
    display: inline-block;
    width: 280px;
    height: 400px;
    outline: 1px solid white;
    background-size: 300px !important;
    background-repeat: no-repeat !important;
    position: relative;
}   
/*
@media only screen and (max-width: 650px) {
    .film-box {
        width: 90vw;
    }
} */

.film-box .link-placeholder {
    /*background-color: red;*/
    display: inline-block;
    width: 280px;
    height: 400px;
}

.film-box .link-placeholder:hover {
    cursor: pointer;
    outline: 5px solid orange;
}

.film-title-bar {
    /*float: left;*/
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding: 0px;
    border-top: 2px solid white;
}

.film-title-bar .content p {
    margin: 2px 0 !important;
    padding: none;
}

.film-title-bar .content {
    padding: 3px;
}

.film-title-bar .poster-img {
    width: 100%;
}

.film-title-bar .film-name {
    font-weight: bold;
}

.film-title-bar .tag {
    border: 1px solid lightgreen;
    margin-right: 5px;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
}

.film-title-bar .tag:hover {
    border: 1px solid orange;
    color: orange;
}

.film-title-bar a, .film-title-bar a:visited{
    color: lightgreen;
    text-decoration: none;
}

.film-title-bar a:hover {
    color: orange;
}
