a href='/' back
br

p I made this site because I wanted to back up my movies, share them, and categorize them.

p The tech stack is Ruby on Rails, Google Cloud Storage, and Heroku.

p I upload the movies to GCS from my personal computer and then the Rails app makes an index of the uploaded files in its own database.

p You can make one of your own! Follow the instructions on the README in the Github repo:

p
  a href='http://github.com/maxpleaner/VideoStreamer' http://github.com/maxpleaner/VideoStreamer 
